# Ignore specific IntelliJ IDEA project files
.idea/codeStyles/
.idea/DSA_Practice.iml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml

# Ignore compiled output directories
out/production/

# Don't ignore the .gitignore file itself
